@model IEnumerable<u21432253_HW3.Models.FileModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Msg
<div class="jumbotron">

    <div class="row">
        <div class=col-lg-8>
            <h2>Description about me</h2>
            <p style="font-size:15px">My name is Muhammad Dada. My student number is 21432253. I am currently studing at university of pretoria. I am studying BIT information system.
            I moved from IKS last and currently doing first and second year together in this degree. I am enjoying the coding part of the degree a lot and hope I can make third year easily.</p>

        </div>
        <div class=col-lg-4>
            <h2 align =" center">Picture Of Me</h2>
            <p align ="center" ><img src="Picture_OfMe/PictureOfMe.jpg" width="150" height="250" /></p>




        </div>
    </div>

</div>


